# CI_ENVIRONMENT = development

# app.baseURL = 'http://localhost:8000/'

# database.default.hostname = localhost
# database.default.database = pt8pulls_db
# database.default.username = root
# database.default.password = 
# database.default.DBDriver = MySQLi
# database.default.DBPrefix =
# database.default.port = 3306

# logger.threshold = 4
